examples/b2b/checkout/create-fulfillment-orders/flows/Create_Fulfillment_Orders_from_Order_Summary_Subflow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>Check_For_Adjustment</name>
        <label>Check For Adjustment</label>
        <locationX>1538</locationX>
        <locationY>411</locationY>
        <defaultConnector>
            <targetReference>Loop_Order_Item_Sum_Taxes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Adjustment_Does_not_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Order_Item_Sum_Taxes.OrderItemAdjustmentLineSummaryId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_FO_Item_Taxes</targetReference>
            </connector>
            <label>Adjustment Does not exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Adjustment_Id</name>
        <label>Check for Adjustment Id</label>
        <locationX>1840</locationX>
        <locationY>772</locationY>
        <defaultConnector>
            <targetReference>Loop_Adjustment_Taxes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Adjustment_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Order_Item_Sum_Taxes.OrderItemAdjustmentLineSummaryId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_FO_Item_Adjustment_Tax</targetReference>
            </connector>
            <label>Adjustment Exist</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Create Fulfillment Orders from Order Summary Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Fulfillment Orders from Order Summary Subflow</label>
    <loops>
        <name>Loop_Adjustment_Taxes</name>
        <label>Loop Adjustment Taxes</label>
        <locationX>1683</locationX>
        <locationY>566</locationY>
        <collectionReference>OrderItemSummaryTaxes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_for_Adjustment_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_OS_Item_Adjustments</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Order_Delivery_Group_Summary</name>
        <label>Loop Order Delivery Group Summary</label>
        <locationX>754</locationX>
        <locationY>69</locationY>
        <collectionReference>Get_Order_Delivery_Group_Summaries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_FO</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_Order_Item_Sum_Taxes</name>
        <label>Loop Order Item Sum Taxes</label>
        <locationX>1313</locationX>
        <locationY>337</locationY>
        <collectionReference>OrderItemSummaryTaxes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_For_Adjustment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Order_Sum_Item_Adjustments</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_OS_Item_Adjustments</name>
        <label>Loop OS Item Adjustments</label>
        <locationX>1356</locationX>
        <locationY>567</locationY>
        <collectionReference>Get_Order_Sum_Item_Adjustments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_FO_Item_Adjustment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Order_Item_Summary_loop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Order_Item_Summary_loop</name>
        <label>Order Item Summary loop</label>
        <locationX>799</locationX>
        <locationY>462</locationY>
        <collectionReference>Get_Order_Product_Summaries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Fulfillment_Order_Item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Order_Delivery_Group_Summary</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_FO</name>
        <label>Create FO</label>
        <locationX>613</locationX>
        <locationY>312</locationY>
        <assignRecordIdToReference>FulfillmentOrderID</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Order_Product_Summaries</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Order_Summary.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DeliveryMethodId</field>
            <value>
                <elementReference>Loop_Order_Delivery_Group_Summary.OrderDeliveryMethodId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FulfilledToCity</field>
            <value>
                <elementReference>Loop_Order_Delivery_Group_Summary.DeliverToCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FulfilledToCountry</field>
            <value>
                <elementReference>Loop_Order_Delivery_Group_Summary.DeliverToCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FulfilledToEmailAddress</field>
            <value>
                <elementReference>Loop_Order_Delivery_Group_Summary.EmailAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FulfilledToGeocodeAccuracy</field>
            <value>
                <elementReference>Loop_Order_Delivery_Group_Summary.DeliverToGeocodeAccuracy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FulfilledToLatitude</field>
            <value>
                <elementReference>Loop_Order_Delivery_Group_Summary.DeliverToLatitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FulfilledToLongitude</field>
            <value>
                <elementReference>Loop_Order_Delivery_Group_Summary.DeliverToLongitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FulfilledToName</field>
            <value>
                <elementReference>Loop_Order_Delivery_Group_Summary.DeliverToName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FulfilledToPhone</field>
            <value>
                <elementReference>Loop_Order_Delivery_Group_Summary.PhoneNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FulfilledToPostalCode</field>
            <value>
                <elementReference>Loop_Order_Delivery_Group_Summary.DeliverToPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FulfilledToState</field>
            <value>
                <elementReference>Loop_Order_Delivery_Group_Summary.DeliverToState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FulfilledToStreet</field>
            <value>
                <elementReference>Loop_Order_Delivery_Group_Summary.DeliverToStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderId</field>
            <value>
                <elementReference>Get_Order_Summary.OriginalOrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderSummaryId</field>
            <value>
                <elementReference>OrderSummaryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Allocated</stringValue>
            </value>
        </inputAssignments>
        <object>FulfillmentOrder</object>
    </recordCreates>
    <recordCreates>
        <name>Create_FO_Item_Adjustment</name>
        <label>Create FO Item Adjustment</label>
        <locationX>1509</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Loop_Adjustment_Taxes</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>Loop_OS_Item_Adjustments.Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FulfillmentOrderId</field>
            <value>
                <elementReference>FulfillmentOrderID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FulfillmentOrderLineItemId</field>
            <value>
                <elementReference>FulfillmentOrderItemID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderItemAdjustLineSummaryId</field>
            <value>
                <elementReference>Loop_OS_Item_Adjustments.Id</elementReference>
            </value>
        </inputAssignments>
        <object>FulfillmentOrderItemAdjustment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_FO_Item_Adjustment_Tax</name>
        <label>Create FO Item Adjustment Tax</label>
        <locationX>1540</locationX>
        <locationY>842</locationY>
        <connector>
            <targetReference>Loop_Adjustment_Taxes</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>Loop_Order_Item_Sum_Taxes.Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FulfillmentOrderId</field>
            <value>
                <elementReference>FulfillmentOrderID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FulfillmentOrderItemAdjustId</field>
            <value>
                <elementReference>Create_FO_Item_Adjustment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FulfillmentOrderLineItemId</field>
            <value>
                <elementReference>FulfillmentOrderItemID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderItemTaxLineItemSummaryId</field>
            <value>
                <elementReference>Loop_Order_Item_Sum_Taxes.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rate</field>
            <value>
                <elementReference>Loop_Order_Item_Sum_Taxes.Rate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaxEffectiveDate</field>
            <value>
                <elementReference>Loop_Order_Item_Sum_Taxes.TaxEffectiveDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Loop_Order_Item_Sum_Taxes.Type</elementReference>
            </value>
        </inputAssignments>
        <object>FulfillmentOrderItemTax</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_FO_Item_Taxes</name>
        <label>Create FO Item Taxes</label>
        <locationX>1748</locationX>
        <locationY>321</locationY>
        <connector>
            <targetReference>Loop_Order_Item_Sum_Taxes</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>Loop_Order_Item_Sum_Taxes.Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FulfillmentOrderId</field>
            <value>
                <elementReference>FulfillmentOrderID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FulfillmentOrderLineItemId</field>
            <value>
                <elementReference>FulfillmentOrderItemID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderItemTaxLineItemSummaryId</field>
            <value>
                <elementReference>Loop_Order_Item_Sum_Taxes.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rate</field>
            <value>
                <elementReference>Loop_Order_Item_Sum_Taxes.Rate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaxEffectiveDate</field>
            <value>
                <elementReference>Loop_Order_Item_Sum_Taxes.TaxEffectiveDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Loop_Order_Item_Sum_Taxes.Type</elementReference>
            </value>
        </inputAssignments>
        <object>FulfillmentOrderItemTax</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Fulfillment_Order_Item</name>
        <label>Create Fulfillment Order Item</label>
        <locationX>975</locationX>
        <locationY>319</locationY>
        <assignRecordIdToReference>FulfillmentOrderItemID</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Item_Taxes</targetReference>
        </connector>
        <inputAssignments>
            <field>FulfillmentOrderId</field>
            <value>
                <elementReference>FulfillmentOrderID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GrossUnitPrice</field>
            <value>
                <elementReference>Order_Item_Summary_loop.GrossUnitPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderItemId</field>
            <value>
                <elementReference>Order_Item_Summary_loop.OriginalOrderItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderItemSummaryId</field>
            <value>
                <elementReference>Order_Item_Summary_loop.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OriginalQuantity</field>
            <value>
                <elementReference>Order_Item_Summary_loop.Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>Order_Item_Summary_loop.Product2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <elementReference>Order_Item_Summary_loop.Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalLineAmount</field>
            <value>
                <elementReference>Order_Item_Summary_loop.TotalLineAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Order_Item_Summary_loop.Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TypeCode</field>
            <value>
                <elementReference>Order_Item_Summary_loop.TypeCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>Order_Item_Summary_loop.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <object>FulfillmentOrderLineItem</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Item_Taxes</name>
        <label>Get Item Taxes</label>
        <locationX>1129</locationX>
        <locationY>330</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Order_Item_Sum_Taxes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderItemSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Order_Item_Summary_loop.Id</elementReference>
            </value>
        </filters>
        <object>OrderItemTaxLineItemSummary</object>
        <outputReference>OrderItemSummaryTaxes</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Amount</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>OrderItemAdjustmentLineSummaryId</queriedFields>
        <queriedFields>OrderItemSummaryId</queriedFields>
        <queriedFields>OrderSummaryId</queriedFields>
        <queriedFields>OriginalOrderItemTaxLineItemId</queriedFields>
        <queriedFields>Rate</queriedFields>
        <queriedFields>TaxEffectiveDate</queriedFields>
        <queriedFields>Type</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Delivery_Group_Summaries</name>
        <label>Order Delivery Group Summaries</label>
        <locationX>583</locationX>
        <locationY>40</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Order_Delivery_Group_Summary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderSummaryId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderDeliveryGroupSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Product_Summaries</name>
        <label>Order Product Summaries</label>
        <locationX>487</locationX>
        <locationY>391</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Order_Item_Summary_loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderDeliveryGroupSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Order_Delivery_Group_Summary.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItemSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Sum_Item_Adjustments</name>
        <label>Get Order Sum Item Adjustments</label>
        <locationX>1199</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_OS_Item_Adjustments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderItemSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Order_Item_Summary_loop.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItemAdjustmentLineSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Summary</name>
        <label>Get Order Summary</label>
        <locationX>450</locationX>
        <locationY>86</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Order_Delivery_Group_Summaries</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderSummaryId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>86</locationX>
        <locationY>39</locationY>
        <connector>
            <targetReference>Get_Order_Summary</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>FulfillmentOrderID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FulfillmentOrderItemID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderItemSummaryTaxes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItemTaxLineItemSummary</objectType>
    </variables>
    <variables>
        <name>OrderSummaryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WarehouseLocation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Location</objectType>
    </variables>
</Flow>
