examples/b2b/checkout/create-fulfillment-orders/flows/Create_OrderSummaryRoutingSchedule_on_OrderSummary_event.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Routing_Schedule_Input</name>
        <label>Routing Schedule Input</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>OrderSymmaryRoutingSchedule.OrderSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OrderSummary.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderSymmaryRoutingSchedule.ScheduleStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SCHEDULED</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderSymmaryRoutingSchedule.ScheduledDatetime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OrderSummaryRoutingSchedule</targetReference>
        </connector>
    </assignments>
    <description>Creates a record in the OrderSummaryRoutingSchedule entity to trigger creation of the Fulfillment Orders.</description>
    <environments>Default</environments>
    <interviewLabel>Create OrderSummaryRoutingSchedule on OrderSummary event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create OrderSummaryRoutingSchedule on OrderSummary event</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>OrderSummaryRoutingSchedule</name>
        <label>Order Summary Routing Schedule</label>
        <locationX>176</locationX>
        <locationY>386</locationY>
        <inputReference>OrderSymmaryRoutingSchedule</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Order_Summary</name>
        <label>Get Order Summary</label>
        <locationX>176</locationX>
        <locationY>170</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Routing_Schedule_Input</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderSummary.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Order_Summary</targetReference>
        </connector>
        <object>OrderSummaryCreatedEvent</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>OrderSymmaryRoutingSchedule</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderSummaryRoutingSchedule</objectType>
    </variables>
</Flow>
