examples/b2c/checkout/order-confirmation-email-flow/flows/B2B2C_Order_Confirmation_Email_Notification_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>B2B2C_Order_Confirmation_Email_Alert</name>
        <label>B2B2C Order Confirmation Email Alert</label>
        <locationX>50</locationX>
        <locationY>1706</locationY>
        <actionName>OrderSummary.B2B2C_Order_Confirmation_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.OrderSummaryId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>CreateOrderItems</name>
        <label>CreateOrderItems</label>
        <locationX>138</locationX>
        <locationY>1370</locationY>
        <assignmentItems>
            <assignToReference>orderItems</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;tr&gt;&lt;td&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IterateOrderItems.Product2.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderItems</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/td&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderItems</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;td&gt;Qty:</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>spacer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IterateOrderItems.QuantityOrdered</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderItems</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/td&gt;&lt;td&gt;each:</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>spacer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderItems</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>$</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IterateOrderItems.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderItems</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/td&gt;&lt;td&gt;$</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IterateOrderItems.TotalLineAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderItems</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/td&gt;&lt;/tr&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateOrderItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setShippingAddress</name>
        <label>setShippingAddress</label>
        <locationX>50</locationX>
        <locationY>770</locationY>
        <assignmentItems>
            <assignToReference>shippingAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>shippingToName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>shippingAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>lineBreaker</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>shippingAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>shippingToStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>shippingAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>lineBreaker</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>shippingAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>shippingToCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>shippingAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>shippingAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>spacer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>shippingAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>shippingToState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>shippingAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>spacer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>shippingAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>shippingToPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>shippingAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>lineBreaker</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>shippingAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>shippingToCountry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetShippingMethod</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>IsB2B2CStore</name>
        <label>IsB2B2CStore</label>
        <locationX>226</locationX>
        <locationY>194</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OrderSummary.SalesStoreId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0ZExx00000000CvGAI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>isBillingEmailAddressExist</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>isBillingEmailAddressExist</name>
        <label>isBillingEmailAddressExist</label>
        <locationX>50</locationX>
        <locationY>314</locationY>
        <defaultConnector>
            <targetReference>UpdateBillingEmailAddress</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>BillingAddressIsMissing</defaultConnectorLabel>
        <rules>
            <name>hasBillingEmailAddress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OrderSummary.BillingEmailAddress</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OrderSummary.BillingEmailAddress</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetShippingAddress</targetReference>
            </connector>
            <label>hasBillingEmailAddress</label>
        </rules>
    </decisions>
    <formulas>
        <name>lineBreaker</name>
        <dataType>String</dataType>
        <expression>BR()</expression>
    </formulas>
    <formulas>
        <name>spacer</name>
        <dataType>String</dataType>
        <expression>&quot;  &quot;</expression>
    </formulas>
    <interviewLabel>B2B2C Order Confirmation Email Notification Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2B2C Order Confirmation Email Notification Flow</label>
    <loops>
        <name>IterateOrderItems</name>
        <label>IterateOrderItems</label>
        <locationX>50</locationX>
        <locationY>1250</locationY>
        <collectionReference>GetOrderItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CreateOrderItems</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Order_Summary_Info</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetOrderItems</name>
        <label>GetOrderItems</label>
        <locationX>50</locationX>
        <locationY>1130</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IterateOrderItems</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderSummary.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Delivery Charge</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItemSummary</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>QuantityOrdered</queriedFields>
        <queriedFields>TotalLineAmount</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPaymentInfo</name>
        <label>GetPaymentInfo</label>
        <locationX>50</locationX>
        <locationY>1010</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetOrderItems</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderSummary.Id</elementReference>
            </value>
        </filters>
        <object>OrderPaymentSummary</object>
        <outputAssignments>
            <assignToReference>paymentMethod</assignToReference>
            <field>Method</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetShippingAddress</name>
        <label>GetShippingAddress</label>
        <locationX>50</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>setShippingAddress</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderSummary.Id</elementReference>
            </value>
        </filters>
        <object>OrderDeliveryGroupSummary</object>
        <outputAssignments>
            <assignToReference>shippingToCity</assignToReference>
            <field>DeliverToCity</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>shippingToCountry</assignToReference>
            <field>DeliverToCountry</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>shippingToName</assignToReference>
            <field>DeliverToName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>shippingToPostalCode</assignToReference>
            <field>DeliverToPostalCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>shippingToState</assignToReference>
            <field>DeliverToState</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>shippingToStreet</assignToReference>
            <field>DeliverToStreet</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>orderDeliverMethodId</assignToReference>
            <field>OrderDeliveryMethodId</field>
        </outputAssignments>
        <sortField>OrderSummaryId</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>GetShippingMethod</name>
        <label>GetShippingMethod</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetPaymentInfo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>orderDeliverMethodId</elementReference>
            </value>
        </filters>
        <object>OrderDeliveryMethod</object>
        <outputAssignments>
            <assignToReference>shippingMethod</assignToReference>
            <field>Carrier</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Order_Summary_Info</name>
        <label>Update Order Summary Info</label>
        <locationX>50</locationX>
        <locationY>1586</locationY>
        <connector>
            <targetReference>B2B2C_Order_Confirmation_Email_Alert</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderSummary.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OCE_Account_First_Name__c</field>
            <value>
                <elementReference>$Record.OrderSummary.Account.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OCE_Account_Last_Name__c</field>
            <value>
                <elementReference>$Record.OrderSummary.Account.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OCE_Order_Items__c</field>
            <value>
                <elementReference>orderItems</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OCE_Payment_Method__c</field>
            <value>
                <elementReference>paymentMethod</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OCE_Shipping_Address__c</field>
            <value>
                <elementReference>shippingAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OCE_Shipping_Method__c</field>
            <value>
                <elementReference>shippingMethod</elementReference>
            </value>
        </inputAssignments>
        <object>OrderSummary</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateBillingEmailAddress</name>
        <label>UpdateBillingEmailAddress</label>
        <locationX>138</locationX>
        <locationY>434</locationY>
        <connector>
            <targetReference>GetShippingAddress</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderSummary.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BillingEmailAddress</field>
            <value>
                <elementReference>$Record.OrderSummary.Owner:User.Email</elementReference>
            </value>
        </inputAssignments>
        <object>OrderSummary</object>
    </recordUpdates>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IsB2B2CStore</targetReference>
        </connector>
        <object>OrderSummaryCreatedEvent</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>orderDeliverMethodId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>orderItems</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>paymentMethod</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>shippingAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>shippingMethod</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>shippingToCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>shippingToCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>shippingToName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>shippingToPostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>shippingToState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>shippingToStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
