examples/b2b/checkout/place-order-process-exception/flows/B2B2C_Place_Order_Process_Exception.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Category</name>
        <label>Assign Category</label>
        <locationX>548</locationX>
        <locationY>362</locationY>
        <assignmentItems>
            <assignToReference>Category</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PlaceOrderFailed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Process_Exception</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Determine_Exception_Category</name>
        <label>Determine Exception Category</label>
        <locationX>680</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Place_Order_Failed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ExceptionType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Place Order Failed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Category</targetReference>
            </connector>
            <label>Place Order Failed</label>
        </rules>
    </decisions>
    <interviewLabel>Place Order Process Exception Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Place Order Process Exception Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Process_Exception</name>
        <label>Create Process Exception</label>
        <locationX>548</locationX>
        <locationY>482</locationY>
        <inputAssignments>
            <field>AttachedToId</field>
            <value>
                <elementReference>$Record.AttachedToId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category</field>
            <value>
                <elementReference>Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExternalReference</field>
            <value>
                <elementReference>$Record.ExternalReference</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message</field>
            <value>
                <elementReference>$Record.Message</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Severity</field>
            <value>
                <elementReference>$Record.Severity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>ProcessException</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>554</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Determine_Exception_Category</targetReference>
        </connector>
        <object>ProcessExceptionEvent</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>Category</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
