examples/som/flows/Create_Invoice_and_Ensure_Funds_Event_Triggered.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Invoice</name>
        <label>Create Invoice</label>
        <locationX>50</locationX>
        <locationY>602</locationY>
        <actionName>createInvoiceFromFulfillmentOrder</actionName>
        <actionType>createInvoiceFromFulfillmentOrder</actionType>
        <connector>
            <targetReference>Set_Ensure_Funds_Input_Representation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Invoice_Action_Fault_Assignment</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fulfillmentOrderId</name>
            <value>
                <elementReference>FulfillmentOrderId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>FulfillmentOrderInvoiceOutput</assignToReference>
            <name>fulfillmentOrderInvoiceOutput</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Ensure_Funds</name>
        <label>Ensure Funds</label>
        <locationX>50</locationX>
        <locationY>818</locationY>
        <actionName>ensureFundsOrderSummaryAsync</actionName>
        <actionType>ensureFundsOrderSummaryAsync</actionType>
        <connector>
            <targetReference>Order_Item_Summary</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Ensure_Funds_Action_Fault_Assignment</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ensureFundsAsyncInput</name>
            <value>
                <elementReference>EnsureFundsAsyncInputRepresentation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orderSummaryId</name>
            <value>
                <elementReference>FulfillmentOrder.OrderSummaryId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Create_Invoice_Action_Fault_Assignment</name>
        <label>Create Invoice Action Fault Assignment</label>
        <locationX>578</locationX>
        <locationY>710</locationY>
        <assignmentItems>
            <assignToReference>ProcessExceptionRecord.Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Invoice_Action_Error_Message</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProcessExceptionRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Process_Exception</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ensure_Funds_Action_Fault_Assignment</name>
        <label>Ensure Funds Action Fault Assignment</label>
        <locationX>314</locationX>
        <locationY>926</locationY>
        <assignmentItems>
            <assignToReference>ProcessExceptionRecord.Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ensure_Funds_Action_Error_Message</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProcessExceptionRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Process_Exception</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Defaults_Process_Exception</name>
        <label>Set Defaults Process Exception</label>
        <locationX>50</locationX>
        <locationY>494</locationY>
        <assignmentItems>
            <assignToReference>ProcessExceptionRecord.AttachedToId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FulfillmentOrderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProcessExceptionRecord.OrderSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FulfillmentOrder.OrderSummary.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProcessExceptionRecord.Severity</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProcessExceptionRecord.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProcessExceptionRecord.Category</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Invoicing</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Invoice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Ensure_Funds_Input_Representation</name>
        <label>Set Ensure Funds Input Representation</label>
        <locationX>50</locationX>
        <locationY>710</locationY>
        <assignmentItems>
            <assignToReference>EnsureFundsAsyncInputRepresentation.invoiceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FulfillmentOrderInvoiceOutput.invoiceId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ensure_Funds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Fulfillment_Order_Id</name>
        <label>Set Fulfillment Order Id</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>FulfillmentOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.FulfillmentOrderId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Fulfillment_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_OS_Status</name>
        <label>Set Order Summary Status</label>
        <locationX>50</locationX>
        <locationY>1634</locationY>
        <assignmentItems>
            <assignToReference>Get_Order_Summary.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fulfilled</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Order_Summary</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Create_Invoice_Action_Error_Message</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Create Invoice Action Fault</stringValue>
        </value>
    </constants>
    <constants>
        <name>Ensure_Funds_Action_Error_Message</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Ensure Funds Action Fault</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Is_Fulfilled</name>
        <label>Is Fulfilled</label>
        <locationX>270</locationX>
        <locationY>1142</locationY>
        <defaultConnector>
            <targetReference>Order_Summary_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NotFulfilled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Order_Summary_Items.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>FULFILLED</stringValue>
                </rightValue>
            </conditions>
            <label>Not Fulfilled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_Fulfillment_Order</name>
        <label>Verify Fulfillment Order</label>
        <locationX>446</locationX>
        <locationY>170</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Closed_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NewStatusCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CLOSED</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FulfillmentOrder.InvoiceId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Fulfillment_Order_Id</targetReference>
            </connector>
            <label>Closed Status</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Create Invoice and Ensure Funds Event Triggered {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Invoice and Ensure Funds Event Triggered</label>
    <loops>
        <name>Order_Summary_Items</name>
        <label>Order Summary Items</label>
        <locationX>50</locationX>
        <locationY>1034</locationY>
        <collectionReference>Order_Item_Summary</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Fulfilled</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Order_Summary</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Process_Exception</name>
        <label>Create Process Exception</label>
        <locationX>314</locationX>
        <locationY>1034</locationY>
        <inputReference>ProcessExceptionRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Fulfillment_Order</name>
        <label>Get Fulfillment Order</label>
        <locationX>50</locationX>
        <locationY>386</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Defaults_Process_Exception</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FulfillmentOrderId</elementReference>
            </value>
        </filters>
        <object>FulfillmentOrder</object>
        <outputReference>FulfillmentOrder</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FulfilledToName</queriedFields>
        <queriedFields>OrderSummaryId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Summary</name>
        <label>Get Order Summary</label>
        <locationX>50</locationX>
        <locationY>1526</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_OS_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderSummaryId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Order_Item_Summary</name>
        <label>Order Item Summary</label>
        <locationX>50</locationX>
        <locationY>926</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Order_Summary_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderSummaryId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItemSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Order_Summary</name>
        <label>Update Order Summary</label>
        <locationX>50</locationX>
        <locationY>1742</locationY>
        <inputReference>Get_Order_Summary</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Verify_Fulfillment_Order</targetReference>
        </connector>
        <object>FOStatusChangedEvent</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>DebugRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProcessException</objectType>
    </variables>
    <variables>
        <name>EnsureFundsAsyncInputRepresentation</name>
        <apexClass>ConnectApi__EnsureFundsAsyncInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FulfillmentOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FulfillmentOrder</objectType>
    </variables>
    <variables>
        <name>FulfillmentOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FulfillmentOrderInvoiceOutput</name>
        <apexClass>ConnectApi__FulfillmentOrderInvoiceOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProcessExceptionRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProcessException</objectType>
    </variables>
</Flow>
