examples/som/flows/Create_Fulfillment_Orders_Warehouse.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Since we are only passing one fulfillment group, this action only creates one fulfillment order.</description>
        <name>Create_Fulfillment_Order</name>
        <label>Create Fulfillment Order</label>
        <locationX>1546</locationX>
        <locationY>2186</locationY>
        <actionName>createFulfillmentOrder</actionName>
        <actionType>createFulfillmentOrder</actionType>
        <connector>
            <targetReference>Loop_through_Order_Delivery_Group_Summaries</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Action_Fault_Assignment</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fulfillmentOrderInput</name>
            <value>
                <elementReference>InputRepresentation</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>FulfillmentOrderOutputToStore</assignToReference>
            <name>fulfillmentOrderOutput</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Action_Fault_Assignment</name>
        <label>Action Fault Assignment</label>
        <locationX>1810</locationX>
        <locationY>2306</locationY>
        <assignmentItems>
            <assignToReference>ProcessExceptionRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProcessExceptionRecord.Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Fulfillment_Action_Error_Message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Process_Exception</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_input_representation_to_list</name>
        <label>Add Input Representation to List</label>
        <locationX>1634</locationX>
        <locationY>1634</locationY>
        <assignmentItems>
            <assignToReference>OrderItemSummaryList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OrderItemSummaryInputRepresentation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Order_Product_Summaries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_InputRepresentation_and_temp_collections</name>
        <label>Reset Input Variables</label>
        <locationX>1546</locationX>
        <locationY>1034</locationY>
        <assignmentItems>
            <assignToReference>InputRepresentation.fulfillmentGroups</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>InputRepresentation.fulfillmentGroups</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderItemSummaryList</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>OrderItemSummaryList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Order_Product_Summaries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Defaults_Process_Exception</name>
        <label>Set Defaults Process Exception</label>
        <locationX>578</locationX>
        <locationY>434</locationY>
        <assignmentItems>
            <assignToReference>ProcessExceptionRecord.AttachedToId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderSummaryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProcessExceptionRecord.OrderSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderSummaryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProcessExceptionRecord.Category</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fulfillment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProcessExceptionRecord.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProcessExceptionRecord.Severity</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Warehouse_Location</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Fulfillment_Group</name>
        <label>Set Fulfillment Group</label>
        <locationX>1546</locationX>
        <locationY>1946</locationY>
        <assignmentItems>
            <assignToReference>FulfillmentGroup.fulfilledFromLocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WarehouseLocation.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FulfillmentGroup.fulfillmentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Warehouse</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FulfillmentGroup.orderItemSummaries</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderItemSummaryList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_input_representation_and_add_fulfillment_group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_input_representation_and_add_fulfillment_group</name>
        <label>Set Input Representation and Add Fulfillment Group</label>
        <locationX>1546</locationX>
        <locationY>2066</locationY>
        <assignmentItems>
            <assignToReference>InputRepresentation.orderSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderSummaryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InputRepresentation.orderDeliveryGroupSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderDeliveryGroupSummaryRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InputRepresentation.fulfillmentGroups</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FulfillmentGroup</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Fulfillment_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Item_Summary_Input_Representation</name>
        <label>Set Item Summary Input Representation</label>
        <locationX>1634</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>OrderItemSummaryInputRepresentation.orderItemSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderProductSummaryRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderItemSummaryInputRepresentation.quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderProductSummaryRecord.Quantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_input_representation_to_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Unable_To_Find_Location_Assignment</name>
        <label>Unable To Find Location Assignment</label>
        <locationX>50</locationX>
        <locationY>794</locationY>
        <assignmentItems>
            <assignToReference>ProcessExceptionRecord.Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Unable_To_Find_Location_Error_Message</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProcessExceptionRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Unable_To_Find_Location_Error_Description</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Process_Exception</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Unable_To_Find_Location_Fault_Assignment</name>
        <label>Unable To Find Location Fault Assignment</label>
        <locationX>1370</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>ProcessExceptionRecord.Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Location_Fault_Error_Message</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProcessExceptionRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Process_Exception</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Create_Fulfillment_Action_Error_Message</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Create Fulfillment Order Action Fault</stringValue>
        </value>
    </constants>
    <constants>
        <name>Find_Location_Fault_Error_Message</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Unable to Find Location Fault</stringValue>
        </value>
    </constants>
    <constants>
        <name>Unable_To_Find_Location_Error_Message</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Unable to Find Location</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Verify_Location</name>
        <label>Verify Location</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Get_Order_Delivery_Group_Summaries</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Empty_Location</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WarehouseLocation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unable_To_Find_Location_Assignment</targetReference>
            </connector>
            <label>Empty Location</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_Order_Summary_Status</name>
        <label>Verify Order Summary Status</label>
        <locationX>1106</locationX>
        <locationY>194</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Created_to_Activated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OldStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Created</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NewStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OrderSummary</targetReference>
            </connector>
            <label>Created to Activated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_Status_Ordered</name>
        <label>Verify Status Ordered</label>
        <locationX>1766</locationX>
        <locationY>1394</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Order_Product_Summaries</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OrderProductSummaryRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ORDERED</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Item_Summary_Input_Representation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Five_Minutes_After</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + (5/1440)</expression>
    </formulas>
    <interviewLabel>Create Fulfillment Orders - Warehouse {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Fulfillment Orders - Warehouse</label>
    <loops>
        <name>Loop_through_Order_Delivery_Group_Summaries</name>
        <label>Order Delivery Group Summaries</label>
        <locationX>1106</locationX>
        <locationY>914</locationY>
        <assignNextValueToReference>OrderDeliveryGroupSummaryRecord</assignNextValueToReference>
        <collectionReference>OrderDeliveryGroupSummaries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Reset_InputRepresentation_and_temp_collections</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Order_Summary_Status</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Order_Product_Summaries</name>
        <label>Order Product Summaries</label>
        <locationX>1546</locationX>
        <locationY>1274</locationY>
        <assignNextValueToReference>OrderProductSummaryRecord</assignNextValueToReference>
        <collectionReference>OrderSummaryItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Verify_Status_Ordered</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Fulfillment_Group</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Process_Exception</name>
        <label>Create Process Exception</label>
        <locationX>50</locationX>
        <locationY>914</locationY>
        <inputReference>ProcessExceptionRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Find_Warehouse_Location</name>
        <label>A Warehouse Location</label>
        <locationX>578</locationX>
        <locationY>554</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Verify_Location</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Unable_To_Find_Location_Fault_Assignment</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LocationName</elementReference>
            </value>
        </filters>
        <filters>
            <field>LocationType</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LocationType</elementReference>
            </value>
        </filters>
        <object>Location</object>
        <outputReference>WarehouseLocation</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LocationType</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Delivery_Group_Summaries</name>
        <label>Order Delivery Group Summaries</label>
        <locationX>1106</locationX>
        <locationY>794</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Order_Delivery_Group_Summaries</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderSummaryId</elementReference>
            </value>
        </filters>
        <object>OrderDeliveryGroupSummary</object>
        <outputReference>OrderDeliveryGroupSummaries</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OriginalOrderDeliveryGroupId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Product_Summaries</name>
        <label>Order Product Summaries</label>
        <locationX>1546</locationX>
        <locationY>1154</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Order_Product_Summaries</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderDeliveryGroupSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderDeliveryGroupSummaryRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderSummaryId</elementReference>
            </value>
        </filters>
        <object>OrderItemSummary</object>
        <outputReference>OrderSummaryItems</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>OrderDeliveryGroupSummaryId</queriedFields>
        <queriedFields>OriginalOrderItemId</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>OrderSummary</name>
        <label>Get OrderSummary</label>
        <locationX>578</locationX>
        <locationY>314</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Defaults_Process_Exception</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderSummary.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Order_Summary_Status</name>
        <label>Update Order Summary Status</label>
        <locationX>1106</locationX>
        <locationY>2606</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderSummaryId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Waiting to Fulfill</stringValue>
            </value>
        </inputAssignments>
        <object>OrderSummary</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>980</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Verify_Order_Summary_Status</targetReference>
        </connector>
        <object>OrderSumStatusChangedEvent</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Unable_To_Find_Location_Error_Description</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Unable to find location {!LocationName} of type {!LocationType}.</text>
    </textTemplates>
    <variables>
        <name>FulfillmentGroup</name>
        <apexClass>ConnectApi__FulfillmentGroupInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FulfillmentGroups</name>
        <apexClass>ConnectApi__FulfillmentGroupInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FulfillmentOrderOutputToStore</name>
        <apexClass>ConnectApi__FulfillmentOrderOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InputRepresentation</name>
        <apexClass>ConnectApi__FulfillmentOrderInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LocationName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Warehouse</stringValue>
        </value>
    </variables>
    <variables>
        <name>LocationType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Warehouse</stringValue>
        </value>
    </variables>
    <variables>
        <name>OrderDeliveryGroupSummaries</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderDeliveryGroupSummary</objectType>
    </variables>
    <variables>
        <name>OrderDeliveryGroupSummaryRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderDeliveryGroupSummary</objectType>
    </variables>
    <variables>
        <name>OrderItemSummaryInputRepresentation</name>
        <apexClass>ConnectApi__OrderItemSummaryInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderItemSummaryList</name>
        <apexClass>ConnectApi__OrderItemSummaryInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderProductSummaryRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItemSummary</objectType>
    </variables>
    <variables>
        <name>OrderSummaryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.OrderSummary.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>OrderSummaryItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItemSummary</objectType>
    </variables>
    <variables>
        <name>ProcessExceptionRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProcessException</objectType>
    </variables>
    <variables>
        <name>WarehouseLocation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Location</objectType>
    </variables>
</Flow>
